Repository jreslock/deployer: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, golangci-lint, go-test, go-mod-tidy, tf-docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        description: Runs go fmt using the Taskfile
        entry: task fmt
        language: system
        pass_filenames: false
        types: [go]

      - id: golangci-lint
        name: golangci-lint
        description: Runs golangci-lint using the Taskfile
        entry: task lint
        language: system
        pass_filenames: false
        types: [go]

      - id: go-test
        name: go test
        description: Runs go test using the Taskfile
        entry: task test
        language: system
        pass_filenames: false
        types: [go]

      - id: go-mod-tidy
        name: go mod tidy
        description: Runs go mod tidy using the Taskfile
        entry: task tidy
        language: system
        pass_filenames: false
        types: [go]

      - id: tf-docs
        name: tf-docs
        description: Updates infrastructure module docs using the Taskfile
        entry: task tf-docs
        language: system
        pass_filenames: false
        types: [terraform]

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.99.0
    hooks:
      - id: terraform_fmt
        args: [
          "--hook-config=--tf-path=/usr/bin/tofu",
          "--args=-recursive -check"
        ]
        files: ^infrastructure/(modules/aws|aws)/.*\.tf$

Typos in both workflows causing failures
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
Due: none

Typos in both workflows causing failures (#2)
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
Due: none

Narrow some permissions on the ECR
  infrastructure/modules/aws/ecr/main.tf
Due: tf-docs

Add spacelift config to handle custom backend
  .spacelift/config.yml
  infrastructure/aws/pub/README.md
  infrastructure/aws/pub/main.tf
  infrastructure/aws/pub/variables.tf
  infrastructure/aws/sub/README.md
  infrastructure/aws/sub/main.tf
  infrastructure/aws/sub/variables.tf
Due: tf-docs

Hacking on the spacelift config
  .spacelift/config.yml
Due: none

Actually don't need the config
  .spacelift/config.yml
Due: none

tfvars here are important and need to exist
  .gitignore
  infrastructure/aws/pub/vars/dev/target.tfvars
  infrastructure/aws/sub/vars/dev/target.tfvars
Due: tf-docs

Narrow some permissions on the ECR (#4)
  .gitignore
  infrastructure/aws/pub/README.md
  infrastructure/aws/pub/main.tf
  infrastructure/aws/pub/variables.tf
  infrastructure/aws/pub/vars/dev/target.tfvars
  infrastructure/aws/sub/README.md
  infrastructure/aws/sub/main.tf
  infrastructure/aws/sub/variables.tf
  infrastructure/aws/sub/vars/dev/target.tfvars
  infrastructure/modules/aws/ecr/main.tf
Due: tf-docs

Adding ECR publishing permissions before releadse
  infrastructure/aws/pub/README.md
  infrastructure/aws/pub/main.tf
  infrastructure/modules/aws/ecr/README.md
  infrastructure/modules/aws/ecr/main.tf
  infrastructure/modules/aws/ecr/outputs.tf
  infrastructure/modules/aws/ecr/variables.tf
Due: tf-docs

Adding ECR publishing permissions before releadse (#5)
  infrastructure/aws/pub/README.md
  infrastructure/aws/pub/main.tf
  infrastructure/modules/aws/ecr/README.md
  infrastructure/modules/aws/ecr/main.tf
  infrastructure/modules/aws/ecr/outputs.tf
  infrastructure/modules/aws/ecr/variables.tf
Due: tf-docs

Try ECR policy again
  infrastructure/aws/pub/main.tf
Due: tf-docs

Fix formatting of workflow files
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
Due: none

role name
  infrastructure/aws/pub/main.tf
Due: tf-docs

Publishing permissions take 2 (#6)
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  infrastructure/aws/pub/main.tf
Due: tf-docs

Resource policies don't need resources[]
  infrastructure/modules/aws/ecr/main.tf
Due: tf-docs

Add merged to release criteria
  .github/workflows/release.yml
Due: none

Resource policies don't need resources[] (#7)
  .github/workflows/release.yml
  infrastructure/modules/aws/ecr/main.tf
Due: tf-docs

Mess with the if clause to test release trigger
  .github/workflows/release.yml
Due: none

Mess with the if clause to test release trigger (#8)
  .github/workflows/release.yml
Due: none

base_ref != base.ref
  .github/workflows/release.yml
Due: none

base_ref != base.ref (#9)
  .github/workflows/release.yml
Due: none

Release almost working now
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  .github/workflows/release.yml
Due: none

Release almost working now (#10)
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  .github/workflows/release.yml
Due: none

Forgot a goreleaser.yml
  goreleaser.yml
Due: none

Forgot a goreleaser.yml (#11)
  goreleaser.yml
Due: none

Fetch tags
  .github/workflows/release.yml
  Taskfile.yml
Due: none

Fetch tags (#12)
  .github/workflows/release.yml
  Taskfile.yml
Due: none

A little tagging reset
  CHANGELOG.md
Due: none

A little tagging reset (#13)
  CHANGELOG.md
Due: none

No need to run tidy it has already been run
  goreleaser.yml
Due: none

No need to run tidy it has already been run (#14)
  goreleaser.yml
Due: none

hack hack hack (#15)
  Taskfile.yml
Due: none

Quite a few updates and changes
  .devcontainer/Dockerfile
  .devcontainer/LOCAL/devcontainer.json
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  lambda_functions/deployer/main.go
  lambda_functions/deployer/main_test.go
Due: go-fmt, golangci-lint, go-test, go-mod-tidy

Quite a few updates and changes (#16)
  .devcontainer/Dockerfile
  .devcontainer/LOCAL/devcontainer.json
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  lambda_functions/deployer/main.go
  lambda_functions/deployer/main_test.go
Due: go-fmt, golangci-lint, go-test, go-mod-tidy

Fixing an issue with goreleaser
  goreleaser.yml
Due: none

Fixing an issue with goreleaser (#17)
  goreleaser.yml
Due: none

goreleaser doesn't need to build
  goreleaser.yml
Due: none

goreleaser doesn't need to build (#18)
  goreleaser.yml
Due: none

Really force goreleaser to skip building
  Taskfile.yml
Due: none
